fastapi
uvicorn
jinja2
sqlalchemy
pyodbc
sqlalchemy-access
numpy
pydantic
python-multipart
passlib
requests
cv2
werkzeug
pydantic-settings
aiofiles
aiohttp
ultralytics
torch
fastapi_login
opencv-python
pythonnet